[Desktop Entry]
Name=Maelstrom
Comment=Space combat game
Exec=Maelstrom -fullscreen
Icon=maelstrom.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=game;arcade;space;shooter;asteroids;
